{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Browse {{ genre ? genre : 'All Genres' }}</h1>

        <h2 class="mt-5 mb-4">Filter by Genre</h2>
        <ul class="genre-list ps-0 mt-2 mb-3">
            <li class="d-inline">
                <a class="btn btn-primary btn-sm" href="{{ path('app_browse', {
                    slug: 'pop'
                }) }}">Pop</a>
            </li>
            <li class="d-inline">
                <a class="btn btn-primary btn-sm" href="{{ path('app_browse', {
                    slug: 'rock'
                }) }}">Rock</a>
            </li>
            <li class="d-inline">
                <a class="btn btn-primary btn-sm" href="{{ path('app_browse', {
                    slug: 'all-accordion'
                }) }}">All Accordion</a>
            </li>
        </ul>

        <div>
            <h2 class="mt-5">Mixes</h2>
            <script>
                fetch('https://raw.githubusercontent.com/SymfonyCasts/vinyl-mixes/main/mixes.json').then(data => data.json()).then(data => console.log(data));
            </script>
            <div class="row">
                {% for mix in mixes %}
                    <div class="col col-md-4">
                        <div class="mixed-vinyl-container p-3 text-center">
                            <img class="img-fluid" src="https://c7.alamy.com/compes/2aw2rp3/vector-conjunto-de-musica-retro-vinilo-grabar-iconos-planos-grunge-simbolos-de-discos-plasticos-aislados-sobre-fondo-blanco-2aw2rp3.jpg" data-src="https://c7.alamy.com/compes/2aw2rp3/vector-conjunto-de-musica-retro-vinilo-grabar-iconos-planos-grunge-simbolos-de-discos-plasticos-aislados-sobre-fondo-blanco-2aw2rp3.jpg" alt="Square placeholder img">
                            <p class="mt-2"><strong>{{ mix.title }}</strong></p>
                            <span>{{ mix.trackCount }} Tracks</span>
                            |
                            <span>{{ mix.genre }}</span>
                            |
                            <span>{{ mix.createdAt|ago }}</span>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}